body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
  }
  
  .todo-app {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #282c34;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    color: #e2e2e2;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .todo-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #353b45;
    color: #bababa;
  }
  
  .add-button {
    background-color: #353b45;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-button:hover{
    border: 1px solid silver;
  }
  
  .todo-list {
    list-style: none;
    padding: 0;
  }

  .todo-list li{
    color: #fff;
  }
  
  .todo-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todo-item span {
    flex-grow: 1;
  }
  
  .completed-button {
    background-color: #4fad32;
    color:#fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .update-button {
    background-color: #f0ad4e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  .delete-button {
    background-color: #ff0707;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  