<div class="todo-app">
  <div class="header">
    <h1>Todo App</h1>
  </div>
  <div class="input-container">
    <input type="text" #todo placeholder="Enter Todo" class="todo-input" />
    <button (click)="addTodo(todo.value); todo.value = ''" class="add-button">Add Todo</button>
  </div>
  <div class="todo-list">
    <ul>
      <li *ngFor="let item of list" class="todo-item">
        {{ item.todo | uppercase}}
        <button *ngIf="item.status" class="completed-button">Completed</button>
        <button (click)="update(item.id)" class="update-button">Update</button>
        <button (click)="deleteTodo(item.id)" class="delete-button">Delete</button>
      </li>
    </ul>
  </div>
</div>
